:root {
    --color-main: #1c365e;
    --color-main-secondary: #152743;
    --color-placeholder: #f6f6f6;
    --color-action-card-text: rgba(255, 255, 255, 0.71);
}


.dashboard-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gno-card {
    background-color: var(--color-main);
    color: #fff;
    padding: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.gno-card:hover {
    background-color: var(--color-main-secondary);
    cursor: pointer;
}
.gno-card span{
    margin: 0px;
    text-align: left;
    font-size: 20px;
}
.gno-card h2{
    margin: 0px;
    font-size: 60px;
}


.action-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 25px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin: 20px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.col-6:nth-child(4n+1) .action-card {
    background-color: var(--color-main);
    color: var(--color-action-card-text);!important;
}

.col-6:nth-child(4n+2) .action-card {
    background-color: var(--color-main-secondary);
    color: var(--color-action-card-text);!important;
}

.col-6:nth-child(4n+3) .action-card {
    background-color: #577BEF;
    color: var(--color-action-card-text);!important;

}

.col-6:nth-child(4n+4) .action-card {
    background-color: #3552BA;
    color: var(--color-action-card-text);!important;
}

.action-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.action-card .fa-icon {
    font-size: 32px;
}

.action-card span {
    font-weight: 600;
}