@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --color-main: #1c365e;
    --color-placeholder: #f6f6f6;
    --color-main-light: #2c548f;
    --color-placeholder-dark: #e0e0e0;
    -color-card-gray:#f6f6f6;
}


.bg-main{
    background-color: var(--color-main);
    color: white;
}


body {
    font-family: 'Poppins', sans-serif;
}

.isubu-button{
    background-color: rgb(237, 237, 237);
    color:black;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

h3 {
    line-height: 1.1;
    font-weight: 600;
}

.profile-picture{
    width: 100%;
    border-radius: 10px;
}

.user-information span a{
    margin-left: 5px;
}

.isubu-card{
    background-color: #f6f6f6;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.03);

    color: #333333;

    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.ders-accordion .accordion-header {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 1rem 1.25rem;
    font-weight: 600;
    transition: background 0.3s;
}

.ders-accordion .accordion-header:hover {
    background-color: #f0f0f0;
}

.ders-accordion .accordion-body li {
    padding: 0.3rem 0;
}

.ders-accordion .card {
    border-radius: 0.75rem;
    overflow: hidden;
}

.ders-accordion .card + .card {
    margin-top: 1rem;
}

.login-logo{
    height: 20vmin;
    display: flex;
    justify-content: center;
}