@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.isubu-button{
    background-color: rgb(237, 237, 237);
    color:black;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

h3 {
    line-height: 1.1;
    font-weight: 600;
}

.profile-picture{
    width: 100%;
    border-radius: 10px;
}

.user-information span a{
    margin-left: 5px;
}

.isubu-card{
    background-color: #f6f6f6;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.03);

    color: #333333;

    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}